{
  "project_info": {
    "project_number": "SEU_PROJECT_NUMBER",
    "project_id": "SEU_PROJECT_ID",
    "storage_bucket": "SEU_PROJECT_ID.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:SEU_PROJECT_NUMBER:android:XXXXXXXXXXXX",
        "android_client_info": {
          "package_name": "com.sgaa.angola"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "SUA_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
