CREATE TABLE "alunos" (
	"id" varchar PRIMARY KEY DEFAULT gen_random_uuid() NOT NULL,
	"numeroMatricula" text NOT NULL,
	"nome" text NOT NULL,
	"apelido" text NOT NULL,
	"dataNascimento" text NOT NULL,
	"genero" text NOT NULL,
	"provincia" text NOT NULL,
	"municipio" text NOT NULL,
	"turmaId" varchar NOT NULL,
	"nomeEncarregado" text NOT NULL,
	"telefoneEncarregado" text NOT NULL,
	"ativo" boolean DEFAULT true NOT NULL,
	"foto" text,
	"createdAt" timestamp with time zone DEFAULT now() NOT NULL
);

CREATE TABLE "eventos" (
	"id" varchar PRIMARY KEY DEFAULT gen_random_uuid() NOT NULL,
	"titulo" text NOT NULL,
	"descricao" text,
	"data" text NOT NULL,
	"hora" text NOT NULL,
	"tipo" text NOT NULL,
	"local" text NOT NULL,
	"turmasIds" jsonb NOT NULL,
	"createdAt" timestamp with time zone DEFAULT now() NOT NULL
);

CREATE TABLE "notas" (
	"id" varchar PRIMARY KEY DEFAULT gen_random_uuid() NOT NULL,
	"alunoId" varchar NOT NULL,
	"turmaId" varchar NOT NULL,
	"disciplina" text NOT NULL,
	"trimestre" integer NOT NULL,
	"aval1" integer DEFAULT 0 NOT NULL,
	"aval2" integer DEFAULT 0 NOT NULL,
	"aval3" integer DEFAULT 0 NOT NULL,
	"aval4" integer DEFAULT 0 NOT NULL,
	"mac1" integer DEFAULT 0 NOT NULL,
	"pp1" integer DEFAULT 0 NOT NULL,
	"ppt" integer DEFAULT 0 NOT NULL,
	"mt1" integer DEFAULT 0 NOT NULL,
	"nf" integer DEFAULT 0 NOT NULL,
	"mac" integer DEFAULT 0 NOT NULL,
	"anoLetivo" text NOT NULL,
	"professorId" varchar NOT NULL,
	"data" text NOT NULL,
	"lancamentos" jsonb
);

CREATE TABLE "presencas" (
	"id" varchar PRIMARY KEY DEFAULT gen_random_uuid() NOT NULL,
	"alunoId" varchar NOT NULL,
	"turmaId" varchar NOT NULL,
	"disciplina" text NOT NULL,
	"data" text NOT NULL,
	"status" text NOT NULL,
	"observacao" text
);

CREATE TABLE "professores" (
	"id" varchar PRIMARY KEY DEFAULT gen_random_uuid() NOT NULL,
	"numeroProfessor" text NOT NULL,
	"nome" text NOT NULL,
	"apelido" text NOT NULL,
	"disciplinas" jsonb NOT NULL,
	"turmasIds" jsonb NOT NULL,
	"telefone" text NOT NULL,
	"email" text NOT NULL,
	"habilitacoes" text NOT NULL,
	"ativo" boolean DEFAULT true NOT NULL,
	"createdAt" timestamp with time zone DEFAULT now() NOT NULL,
	CONSTRAINT "professores_email_unique" UNIQUE("email")
);

CREATE TABLE "turmas" (
	"id" varchar PRIMARY KEY DEFAULT gen_random_uuid() NOT NULL,
	"nome" text NOT NULL,
	"classe" text NOT NULL,
	"turno" text NOT NULL,
	"anoLetivo" text NOT NULL,
	"nivel" text NOT NULL,
	"professorId" varchar NOT NULL,
	"sala" text NOT NULL,
	"capacidade" integer NOT NULL,
	"ativo" boolean DEFAULT true NOT NULL
);

CREATE TABLE "users" (
	"id" varchar PRIMARY KEY DEFAULT gen_random_uuid() NOT NULL,
	"username" text NOT NULL,
	"password" text NOT NULL,
	CONSTRAINT "users_username_unique" UNIQUE("username")
);

ALTER TABLE "alunos" ADD CONSTRAINT "alunos_turmaId_turmas_id_fk" FOREIGN KEY ("turmaId") REFERENCES "public"."turmas"("id") ON DELETE no action ON UPDATE no action;
ALTER TABLE "notas" ADD CONSTRAINT "notas_alunoId_alunos_id_fk" FOREIGN KEY ("alunoId") REFERENCES "public"."alunos"("id") ON DELETE no action ON UPDATE no action;
ALTER TABLE "notas" ADD CONSTRAINT "notas_turmaId_turmas_id_fk" FOREIGN KEY ("turmaId") REFERENCES "public"."turmas"("id") ON DELETE no action ON UPDATE no action;
ALTER TABLE "notas" ADD CONSTRAINT "notas_professorId_professores_id_fk" FOREIGN KEY ("professorId") REFERENCES "public"."professores"("id") ON DELETE no action ON UPDATE no action;
ALTER TABLE "presencas" ADD CONSTRAINT "presencas_alunoId_alunos_id_fk" FOREIGN KEY ("alunoId") REFERENCES "public"."alunos"("id") ON DELETE no action ON UPDATE no action;
ALTER TABLE "presencas" ADD CONSTRAINT "presencas_turmaId_turmas_id_fk" FOREIGN KEY ("turmaId") REFERENCES "public"."turmas"("id") ON DELETE no action ON UPDATE no action;
ALTER TABLE "turmas" ADD CONSTRAINT "turmas_professorId_professores_id_fk" FOREIGN KEY ("professorId") REFERENCES "public"."professores"("id") ON DELETE no action ON UPDATE no action;
