REPÚBLICA DE ANGOLA
MINISTÉRIO DA EDUCAÇÃO
Iº CÍCLO DO ENSINO SECUNDÁRIO

CERTIFICADO

a) {{NOME_DIRECTOR}}, Director(a) do {{NOME_ESCOLA}}, criado(a) sob Decreto Executivo nº _______ de _________________
Certifico que: {{NOME_COMPLETO}}, filho (a) de {{PAI}} e de {{MAE}}, Nascido (a) aos {{DATA_NASCIMENTO}}, natural de {{MUNICIPIO}}, Município de {{MUNICIPIO}}, Província de {{PROVINCIA}}, portador (a) do B.I nº _________________, emitido aos _________________ pelo Arquivo de Identificação de _________________.

Concluiu no ano lectivo de {{ANO_LECTIVO}} o Iº CÍCLO DO ENSINO SECUNDÁRIO GERAL, {{NOME_ESCOLA}} sob o processo nº _______, Pauta nº _______, conforme o disposto na alínea (c) do artigo 109º da LBSEE 17/16, de 7 de Outubro, com a Média Final de _______ valores obtido nas seguintes classificações:

DISCIPLINA               | 7ª Cl. | 8ª Cl. | 9ª Cl. | Média | Por Extenso
-------------------------|--------|--------|--------|-------|------------------
Língua Portuguesa        |        |        |        |       |
Língua Inglesa           |        |        |        |       |
Língua Francesa          |        |        |        |       |
Matemática               |        |        |        |       |
Biologia                 |        |        |        |       |
Física                   |        |        |        |       |
Química                  |        |        |        |       |
Geografia                |        |        |        |       |
História                 |        |        |        |       |
Educação Física          |        |        |        |       |
Educação Moral e Cívica  |        |        |        |       |
Educação Visual e Plást. |        |        |        |       |
Educação Laboral         |        |        |        |       |
Emprendedorismo          |        |        |        |       |

Para efeitos legais lhe é passado o presente CERTIFICADO, que consta no livro de registo nº _______ Folha _______, assinado por mim e autenticado com o carimbo a óleo/selo branco em uso neste estabelecimento de ensino.

{{NOME_ESCOLA}} em {{MUNICIPIO}} aos, {{DATA_ACTUAL}}.