REPÚBLICA DE ANGOLA
MINISTÉRIO DA EDUCAÇÃO
ENSINO GERAL

{{NOME_ESCOLA}}

DECLARAÇÃO

{{NOME_DIRECTOR}}, Director(a) do {{NOME_ESCOLA}} em {{MUNICIPIO}}, {{PROVINCIA}}. Declara que {{NOME_COMPLETO}}, filho (a) de {{PAI}} e de {{MAE}}, natural de {{MUNICIPIO}}, Município de {{MUNICIPIO}}, Província de {{PROVINCIA}}, nascido (a) aos {{DATA_NASCIMENTO}}, portador (a) do B.I nº _________________, passado pelo arquivo de Identificação de _________________ aos _________.

Frequentou a {{CLASSE}} durante o ano lectivo de {{ANO_LECTIVO}} no Ensino Primário com o resultado final _________________ sob o processo nº _______ pauta nº _______ obtendo as seguintes notas descriminadas:

Disciplinas                   | Notas | Valores
------------------------------|-------|-------------------
Língua Portuguesa             |       | (          ) Valores
Matemática                    |       | (          ) Valores
Ciências da Natureza          |       | (          ) Valores
Educação Manual e Plástica    |       | (          ) Valores
Educação Músical              |       | (          ) Valores
Educação Moral e Cívica       |       | (          ) Valores
História                      |       | (          ) Valores
Geografia                     |       | (          ) Valores

OBS: Por ser verdade e assim constar, passou-se a presente Declaração, que vai por mim assinado e autenticado com o carimbo a óleo em uso nesta Instituição.

{{NOME_ESCOLA}} em {{MUNICIPIO}}, {{DATA_ACTUAL}}.