REPÚBLICA DE ANGOLA
MINISTÉRIO DA EDUCAÇÃO
ENSINO GERAL

DECLARAÇÃO DE HABILITAÇÕES

{{NOME_DIRECTOR}}, Director(a) da {{NOME_ESCOLA}}, com Decreto de conjunto nº _________ Certifico que: {{NOME_COMPLETO}}, Filho (a) de {{PAI}} e de {{MAE}}, nascido (a) aos {{DATA_NASCIMENTO}}, natural de {{MUNICIPIO}}, Município de {{MUNICIPIO}}, Província de {{PROVINCIA}}, portador (a) do B.I. nº _________________, passado pelo arquivo de identificação de _________________ aos _________.

Frequentou nesta Escola no Ano Lectivo de {{ANO_LECTIVO}} a ({{CLASSE}}) {{NOME_ESCOLA}}, {{NIVEL}}, na Área de _________________________________, com o resultado final de _________________ Sob a pauta nº _________ arquivado nesta Escola, com as seguintes classificações:

DISCIPLINA                                    | NOTA
----------------------------------------------|-------------------
Língua Portuguesa                             | _____ valores
Língua Estrangeira                            | _____ valores
Matemática                                    | _____ valores
Informática                                   | _____ valores
Educação Física                               | _____ valores
___________________________________           | _____ valores
___________________________________           | _____ valores
___________________________________           | _____ valores
___________________________________           | _____ valores

Por ser verdade, passou-se a presente DECLARAÇÃO que vai por mim assinado e autenticado com o carimbo a óleo em uso nesta Instituição de Ensino.

{{NOME_ESCOLA}} — {{MUNICIPIO}}, {{DATA_ACTUAL}}.