REPÚBLICA DE ANGOLA
MINISTÉRIO DA EDUCAÇÃO
ENSINO GERAL

DECLARAÇÃO

a) {{NOME_DIRECTOR}}, Director(a) do {{NOME_ESCOLA}}.

Declaro que {{NOME_COMPLETO}}, Filho (a) de {{PAI}} e de {{MAE}}, nascido (a) aos {{DATA_NASCIMENTO}}, natural de {{NATURALIDADE}}, Município de {{MUNICIPIO}}, Província de {{PROVINCIA}}, portador do B.I ou Cédula Pessoal nº {{BI_NUMERO}}, emitido aos {{BI_DATA_EMISSAO}}, passado pelo arquivo de Identificação de {{BI_LOCAL_EMISSAO}}.

Concluiu nesta Escola no Ano Lectivo de {{ANO_LECTIVO}} o {{CICLO}} do Ensino Secundário, 10ª Classe, na área de {{AREA}} com o resultado final de {{RESULTADO}} ({{RESULTADO_LETRA}}) no termo c, Pauta, nº {{PAUTA_NUMERO}}, A processa nº {{PROCESSO_NUMERO}} arquivada nesta Escola, com as seguintes classificações:

Disciplinas                          | 10ª Classe
-------------------------------------|-------------------
Língua Portuguesa                    | {{NOTA_LP}} Valores
Língua Estrangeira                   | {{NOTA_LE}} Valores
Matemática                           | {{NOTA_MAT}} Valores
Informática                          | {{NOTA_INF}} Valores
Educação Física                      | {{NOTA_EF}} Valores
Introdução ao Direito                | {{NOTA_INTRO_DIR}} Valores
Introdução à Economia                | {{NOTA_INTRO_ECO}} Valores

Por ser verdade, passou-se o presente Declaração que vai assinado e autenticado com o carimbo a Óleo ou Branco, em uso nesta Escola.

{{NOME_ESCOLA}}, {{DATA_ACTUAL}}.