República de Angola
Ministério da Educação
{{NOME_ESCOLA}}

Declaração de Habilitações

Eu, {{NOME_DIRECTOR}}, Director(a) do {{NOME_ESCOLA}} Declaro que: {{NOME_COMPLETO}},
Filho (a) de {{PAI}} e de {{MAE}},
Natural de {{MUNICIPIO}}, Município de {{MUNICIPIO}}, Província de {{PROVINCIA}},
Nascido (a) aos {{DATA_NASCIMENTO}},
portador (a) do bilhete de identificação ou cédula nº ________________________________ passado pelos arquivos de identificação de _________________ aos ___/___/_____

Frequentou o ano lectivo de {{ANO_LECTIVO}} E concluiu a {{CLASSE}} classe do Ensino Primário de Educação nesta Escola, conforme consta na Pauta _________________ livro nº _____________,
Sala _____________ Turma {{TURMA}} com a média final de _________________ obtidas nas seguintes classificações:

Língua Portuguesa ..............................................................................
Matemática .........................................................................................
Estudo do Meio ....................................................................................
Educação Manual e Plástica ..................................................................
Educação Musical .................................................................................
Educação Física ....................................................................................

Esta declaração é para efeito de matrícula.

Pela veracidade e autenticidade, passamos a presente declaração que vai por mim assinado e autenticado com carimbos a óleo em uso neste estabelecimento de ensino {{NOME_ESCOLA}}.

{{MUNICIPIO}}, {{DATA_ACTUAL}}.