GUIA DE TRANSFERÊNCIA Nº ____/________

A pedido do seu encarregado de educação, eu {{NOME_DIRECTOR}}, Director(a) do {{NOME_ESCOLA}}, venho por meio desta transferir o (a) aluno (a) {{NOME_COMPLETO}}, nascido(a) aos {{DATA_NASCIMENTO}}, filho(a) de {{PAI}} e de {{MAE}},

{{MUNICIPIO}}, Natural de {{MUNICIPIO}}, província de {{PROVINCIA}}, matriculado(a) na {{CLASSE}}.

É transferido(a) para ________________________________________________, município de __________________, província de __________________, com os seguintes documentos:

  › ___ Cópia (s) do bilhete, Cédula ou Certidão de nascimento.
  › ___ Fotografia (s).
  › ___ Certificado da 6ª Classe ou ficha de encaminhamento.
  › ___ Atestado Médico.
  › ___ Cartão de Vacina.
  › ___ Pauta / Declaração da 7ª Classe.
  › ___ Pauta / Declaração da 8ª Classe.

Por me ter solicitado, passou-se a presente guia de transferência que por mim vai assinado e autenticado com carimbo a óleo em uso nesta instituição Escolar.

{{NOME_ESCOLA}}, {{DATA_ACTUAL}}.